<ion-header>
  <ion-toolbar>
    <ion-title>Table</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">
    <ion-button expand="medium" (click)="Navigate()">
      Navigate to Quizz Application=>
    </ion-button>

  </div>

  <div id="table" style="padding-top: 5%;  padding-left: 5%;">

    <table>
      <thead>
        <tr>
          <th style="font-weight: 800;">Question 1</th>
          <th style="font-weight: 800;">Answer</th>
          <th style="font-weight: 800;">Mark</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-weight: normal;">What does Covid-19 stands for.?</td>
          <td style="color: chartreuse; font-weight: bold;">It's a term that stands for Coronavirus Disease 2019, the
            year it was first identified.</td>
          <td style="font-weight: bolder; color: crimson;">2</td>
        </tr>

        <tr>
          <th style="font-weight: 800;">Question 2</th>
          <th style="font-weight: 800;">Answer</th>
          <th style="font-weight: 800;">Mark</th>
        </tr>
        <tr>
          <td style="font-weight: normal;">What other viruses belong to the coronavirus family.?</td>
          <td style="color: chartreuse; font-weight: bold;">SARS and Influenza.</td>
          <td style="font-weight: bolder; color: crimson;">2</td>
        </tr>



        <tr>
          <th style="font-weight: 800;">Question 3</th>
          <th style="font-weight: 800;">Answer</th>
          <th style="font-weight: 800;">Mark</th>
        </tr>
        <tr>
          <td style="font-weight: normal;">True or False: A vaccine stimulate your immune system to produce antibodies,
            like it would if you were exposed to the virus.?</td>
          <td style="color: chartreuse; font-weight: bold;">True</td>
          <td style="font-weight: bolder; color: crimson;">2</td>
        </tr>



        <tr>
          <th style="font-weight: 800;">Question 4</th>
          <th style="font-weight: 800;">Answer</th>
          <th style="font-weight: 800;">Mark</th>
        </tr>
        <tr>
          <td style="font-weight: normal;">There are currently vaccines for the following coronaviruses:.?</td>
          <td style="color: chartreuse; font-weight: bold;">SARS and MERS.</td>
          <td style="font-weight: bolder; color: crimson;">2</td>
        </tr>



        <tr>
          <th style="font-weight: 800;">Question 5</th>
          <th style="font-weight: 800;">Answer</th>
          <th style="font-weight: 800;">Mark</th>
        </tr>
        <tr>
          <td style="font-weight: normal;">How many vaccine candidates for COVID-19 have been proposed.?</td>
          <td style="color: chartreuse; font-weight: bold;">125+</td>
          <td style="font-weight: bolder; color: crimson;">2</td>
        </tr>



        <tr>
          <th style="font-weight: 800;">Question 6</th>
          <th style="font-weight: 800;">Answer</th>
          <th style="font-weight: 800;">Mark</th>
        </tr>
        <tr>
          <td style="font-weight: normal;">True or False: The virus is mutating rapidly.?</td>
          <td style="color: chartreuse; font-weight: bold;">True</td>
          <td style="font-weight: bolder; color: crimson;">2</td>
        </tr>



        <tr>
          <th style="font-weight: 800;">Question 7</th>
          <th style="font-weight: 800;">Answer</th>
          <th style="font-weight: 800;">Mark</th>
        </tr>
        <tr>
          <td style="font-weight: normal;">How does weather seem to affect the novel coronavirus.?</td>
          <td style="color: chartreuse; font-weight: bold;">The virus can't survive in hot , humid climates</td>
          <td style="font-weight: bolder; color: crimson;">2</td>
        </tr>




        <tr>
          <th style="font-weight: 800;">Question 8</th>
          <th style="font-weight: 800;">Answer</th>
          <th style="font-weight: 800;">Mark</th>
        </tr>
        <tr>
          <td style="font-weight: normal;">Currently, which group has had more severe effects of COVID-19.?</td>
          <td style="color: chartreuse; font-weight: bold;">Men</td>
          <td style="font-weight: bolder; color: crimson;">2</td>
        </tr>



        <tr>
          <th style="font-weight: 800;">Question 9</th>
          <th style="font-weight: 800;">Answer</th>
          <th style="font-weight: 800;">Mark</th>
        </tr>
        <tr>
          <td style="font-weight: normal;">True or False: COVID-19 has currently been detected on all seven continents.?</td>
          <td style="color: chartreuse; font-weight: bold;">True</td>
          <td style="font-weight: bolder; color: crimson;">2</td>
        </tr>



      </tbody>
      <tfoot>
        <tr>
          <td  style="font-weight: 800;">Total Question: 9</td>
          <td  style="font-weight: 800;">Correct Answers: 9</td>
          <td  style="font-weight: 800;">Total Marks: 18</td>
        </tr>
      </tfoot>
    </table>

  </div>


  

  <div id="container.b">
    <ion-button expand="medium" (click)="Access()">
      Navigate to HomePage=>
    </ion-button>

  </div>

</ion-content>