<ion-header>
  <ion-toolbar>
    <ion-title>Questions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <div id="container">
    <h1>What Do You Know About COVID-19?</h1>
    <div class="container-image" style="display: flex;  width: 35%; height: 30%;">
      <img src="..//../assets/Qq_ZJLNq7aEmYp4aGUQE3O6tKqLd-QFVLLoB1Nnlheo  Covid-19.jpg" style="padding-left: 10%;">
      <p
        style="font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: chartreuse;">
        Screening are done on a regular basis for COVID-19 Pandemic.</p>

      <img src="..//..//assets/download.COVID-19.jfif" style="padding-left: 10%; ">
      <p
        style="font-weight: bold; font-family: Georgia, 'Times New Roman', Times, serif; color: rgba(255, 166, 0, 0.952);">
        Wash your hands regulary with soap and water.</p>
    </div>

  </div>

  <div>
    <h4 style="padding-left: 1%;  color: chartreuse;">Q1. What does Covid-19 stands for.?</h4>

    <ion-list >
      <ion-item  style="color: crimson;"> It's a term for Coronavirus Disease 19, becuase it's the 19th strain of coronavirus discovered.
        <input type="radio" name="question1" [(ngModel)]="answer1"
          value="It's a term for Coronavirus Disease 19, becuase it's the 19th strain of coronavirus discovered">
      </ion-item>

      <ion-item style="padding-top: 1%; color: crimson;  "> It's a term that stands for Coronavirus Disease 2019, the year it was first
        identified.
        <input type="radio" name="question1" [(ngModel)]="answer2"
          value="It's a term that stands for Coronavirus Disease 2019, the year it was first identified">
      </ion-item>

    </ion-list>


    <h4 style="padding-left: 1%;  color: darkgreen;">Q2. What other viruses belong to the coronavirus family.?</h4>

    <ion-list >
      <ion-item  style="color: darkorchid;"> SARS and Influenza.
        <input type="radio" name="question2" [(ngModel)]="answer3" value="SARS and Influenza">
      </ion-item>

      <ion-item style="padding-top: 1%;  color: darkorchid;"> SARS and MERS.
        <input type="radio" name="question2" [(ngModel)]="answer4" value="SARS and MERS">
      </ion-item>

      <ion-item style="padding-top: 1%;  color: darkorchid;"> SARS and HIV.
        <input type="radio" name="question2" [(ngModel)]="answer5" value="SARS and HIV">
      </ion-item>
    </ion-list>



    <h4 style="padding-left: 1%;  color: darkslategray;">Q3. True or False: A vaccine stimulate your immune system to
      produce antibodies, like
      it would if you were exposed to the virus.?</h4>

    <ion-list >
      <ion-item  style="color: deepskyblue;"> True.
        <input type="radio" name="question3" [(ngModel)]="answer6" value="True">
      </ion-item>

      <ion-item style="padding-top: 1%;  color: deepskyblue;"> False.
        <input type="radio" name="question3" [(ngModel)]="answer7" value="False">
      </ion-item>

    </ion-list>


    <h4 style="padding-left: 1%;  color: gold;">Q4. There are currently vaccines for the following coronaviruses:.?</h4>

    <ion-list >
      <ion-item  style="color: indianred;"> SARS.
        <input type="radio" name="question4" [(ngModel)]="answer8" value="SARS">
      </ion-item>

      <ion-item style="padding-top: 1%;  color: indianred;"> MERS.
        <input type="radio" name="question4" [(ngModel)]="answer9" value="MERS">
      </ion-item>

      <ion-item style="padding-top: 1%;  color: indianred;"> SARS and MERS.
        <input type="radio" name="question4" [(ngModel)]="answer10" value="SARS and MERS">
      </ion-item>

      <ion-item style="padding-top: 1%; color: indianred; "> None of the above.
        <input type="radio" name="question4" [(ngModel)]="answer11" value="None of the above">
      </ion-item>

    </ion-list>


    <h4 style="padding-left: 1%;  color: lawngreen;">Q5. How many vaccine candidates for COVID-19 have been proposed.?
    </h4>

    <ion-list >
      <ion-item  style="color: lightseagreen;"> 25
        <input type="radio" name="question5" [(ngModel)]="answer12" value="25">
      </ion-item>

      <ion-item style="padding-top: 1%;  color: lightseagreen;"> 100
        <input type="radio" name="question5" [(ngModel)]="answer13" value="100">
      </ion-item>

      <ion-item style="padding-top: 1%;  color: lightseagreen;"> 125+
        <input type="radio" name="question5" [(ngModel)]="answer14" value="125+">
      </ion-item>
    </ion-list>



    <h4 style="padding-left: 1%; color: magenta;">Q6. True or False: The virus is mutating rapidly.?</h4>

    <ion-list >
      <ion-item  style="color: rgba(199, 21, 134, 0.603);"> True
        <input type="radio" name="question6" [(ngModel)]="answer15" value="True">
      </ion-item>

      <ion-item style="padding-top: 1%;  color: rgba(199, 21, 134, 0.603);"> False
        <input type="radio" name="question6" [(ngModel)]="answer16" value="False">
      </ion-item>
    </ion-list>


    <h4 style="padding-left: 1%;  color: chocolate;">Q7. How does weather seem to affect the novel coronavirus.?</h4>

    <ion-list >
      <ion-item  style="color: orangered;"> The virus can't survive in hot , humid climates
        <input type="radio" name="question7" [(ngModel)]="answer17"
          value="The virus can't survive in hot , humid climates">
      </ion-item>

      <ion-item style="padding-top: 1%;  color: orangered;"> Cold temprature can kill the virus
        <input type="radio" name="question7" [(ngModel)]="answer18" value="Cold temprature can kill the virus">
      </ion-item>

      <ion-item style="padding-top: 1%;  color: orangered;"> It's not yet known
        <input type="radio" name="question7" [(ngModel)]="answer19" value="It's not yet known">
      </ion-item>
    </ion-list>


    <h4 style="padding-left: 1%;  color: plum;">Q8. Currently, which group has had more severe effects of COVID-19.?
    </h4>

    <ion-list >
      <ion-item  style="color: rebeccapurple;"> Men
        <input type="radio" name="question8" [(ngModel)]="answer20" value="Men">
      </ion-item>

      <ion-item style="padding-top: 1%;  color: rebeccapurple;"> Women
        <input type="radio" name="question8" [(ngModel)]="answer21" value="Women">
      </ion-item>
    </ion-list>


    <h4 style="padding-left: 1%;  color: seagreen;">Q9. True or False: COVID-19 has currently been detected on all seven
      continents.?</h4>

    <ion-list >
      <ion-item  style="color: steelblue;"> True
        <input type="radio" name="question9" [(ngModel)]="answer22" value="True">
      </ion-item>

      <ion-item style="padding-top: 1%;  color: steelblue;"> False
        <input type="radio" name="question9" [(ngModel)]="answer23" value="False">
      </ion-item>
    </ion-list>

  </div>


  <div id="submit">
    <ion-button (click)="submitData()">Submit Quizz</ion-button>

  </div>

</ion-content>
