<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="Image container">

    <img src="..//..//assets/photo-1584744982491-665216d95f8b COVID-19.jfif">

  </div>


  <div class="Output">

    MARKS : {{data.marks}} <br>

    PERCENTAGE : {{data.percentage}}  <br>

    OUTPUT:  {{data.results}}

  </div>

  <div id="container">
    <ion-button (click)="navResult()">
      VEIW DATA TABLE

    </ion-button>

  </div>

</ion-content>
